.breadcrumb {
  margin: 4rem 0 1rem 0;
}

.breadcrumb-content {
  display: flex;
  align-items: center;
  background-color: #f0f2f7 !important;
  padding: 1.5rem 2rem;
  border-radius: 5px;
}

.breadcrumb-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--white-color);
  border-radius: 5px;
  margin-left: 10px;
}

.breadcrumb-home-icon {
  font-size: 1.5rem;
  color: #909aa7;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
}

.breadcrumb-item {
  list-style: none;
  padding: 0 !important;
}

.breadcrumb-item::before {
  display: none;
}

.breadcrumb-link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #7f8187;
}

.breadcrumb-link:hover {
  color: #515152;
}

.breadcrumb-link-icon {
  color: #7f8187;
  font-size: 1.5rem;
  margin: 0 0.3rem;
}
