.login-register {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.login-register::before {
  content: "";
  position: absolute;
  background-color: #2bce56;
  width: 150%;
  height: 380px;
  z-index: -1;
  transform: rotate(-4deg);
  top: -7rem;
}

.login-register::after {
  content: "";
  position: absolute;
  background-color: rgb(43, 206, 86, 0.6);
  z-index: -9999;
  width: 150%;
  height: 380px;
  transform: rotate(-4deg);
  top: -4rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  box-shadow: 0 6px 20px rgba(168, 172, 185, 0.3);
  padding: 2rem;
  background-color: var(--white-color);
  border-radius: 5px;
  width: 47rem;
  border-bottom: 5px solid var(--primary-color);
}

.login-title {
  display: block;
  font-size: 2rem;
}

.login-subtitle {
  display: block;
  font-size: 1.5rem;
  color: #626b6e;
}

.login-new-member {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f7;
  width: 100%;
  padding: 1.2rem 0;
  border-radius: 5px;
  margin: 1.5rem 0;
}

.login-new-member-text {
  color: #626b6e;
  font-size: 1.4rem;
}

.login-new-member-link {
  background-color: #a8aaaf;
  color: var(--white-color);
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 300ms ease;
  border: 1px solid #a8aaaf;
}

.login-new-member-link:hover {
  background-color: var(--white-color);
  border: 1px solid #a8aaaf;
  color: #a8aaaf;
}

.login-form {
  width: 100%;
}

.login-form-username,
.login-form-password {
  position: relative;
}

.login-form-username-input,
.login-form-password-input {
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  width: 100%;
  padding: 0.8rem 1rem;
  margin: 0.5rem 0;
}

.login-form-password-icon,
.login-form-username-icon {
  position: absolute;
  font-size: 2.2rem;
  color: #ccc;
  left: 1rem;
  top: 1.5rem;
}

.login-form-valid-btn {
  width: 100%;
  margin-top: 0.5rem;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.8rem 0;
  transition: all 400ms ease;
}

.login-form-invalid-btn {
  width: 100%;
  margin-top: 0.5rem;
  border: 1px solid rgb(135, 241, 135);
  background-color: rgb(135, 241, 135);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.8rem 0;
}

.login-form-btn:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.login-form-btn-icon {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

.login-form-password-setting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.login-form-password-remember {
  display: flex;
  align-items: center;
}

.login-form-password-checkbox {
  margin-left: 0.5rem;
  color: #6c757d;
}

.login-form-remember-password-text,
.login-form-password-forget-link {
  color: #6c757d;
  font-size: 1.4rem;
}

.login-desc {
  margin-top: 3rem;
  color: #626b6e;
  font-size: 1.2rem;
  width: 100%;
  text-align: justify;
}

.login-desc-list {
  list-style-type: disc;
  margin-right: 2rem;
  margin-top: 1rem;
}

.login-desc-item {
  padding: 0.3rem 0;
}

.error-message {
  width: 100%;
  font-size: 1.2rem;
  color: rgb(206, 3, 3);
  padding: 0.5rem 0;
}

.swal-footer {
  display: flex;
  justify-content: center;
}

.recaptcha-parent {
  display: block;
  text-align: center;
  margin: 1.5rem auto;
}
